.card {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2b2d42;
    overflow: auto;
}

.card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#eef, #fee);
}

.card-image img {
    width: calc(100% - 30px);
    max-width: 475px;
    object-fit: contain;
}

.card-infos {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0;
    /* max-height: 400px; */
}

.card-infos .card-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-infos .card-name p{
    color: #ffffff;
    font-size: xx-large;
}

.card-infos .card-name .number {
    margin-left: 10px;
    opacity: 0.5;
}

.card-infos .card-name .card-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

.card-infos .card-specs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-infos .card-specs .spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    color: #ffffff;
    font-size: large;
}

.card-infos .card-specs .spec span {
    opacity: 0.5;
}

.card-infos .card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.card-infos .card-text p {
    color: #ffffff;
    text-align: center;
    text-align: left;
    line-height: 27px;
    border-top: 2px solid rgba(255, 255, 255, .5);
    padding-top: 15px;
    max-width: 300px;
    height: 100px;
}

.card-infos .card-evolutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-infos .card-evolutions .arrow:last-child {
    display: none;
}
