.close-button {
    position: fixed;
    right: 15px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    font-weight: bold;
}

.card {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2b2d42;
}

.card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#eef, #fee);
}

.card-image img {
    width: calc(100% - 30px);
    max-width: 475px;
    object-fit: contain;
}

.card-infos {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0;
}

.card-infos .card-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.card-infos .card-name p{
    color: #ffffff;
    font-size: xx-large;
}

.card-infos .card-name .number {
    margin-left: 10px;
    opacity: 0.5;
}

.card-infos .card-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
}

.card-infos .card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 15px 0;
    max-height: 200px;
}

.card-infos .card-text p {
    color: #ffffff;
    text-align: center;
    text-align: left;
    line-height: 27px;
    /* border-top: 2px solid #ffffff; */
    border-top: 2px solid rgba(255, 255, 255, .5);
    padding-top: 15px;
}
