.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 20px;
    width: 290px;
    height: 36px;
    cursor: text;
}

.search input {
    border: none;
    outline: 0;
    background: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: calc(100% - 90px);
    color: #ffffff;
}

.search input::placeholder {
    opacity: 1;
    color: rgba(255, 255, 255, .5);
}

.search span {
    color: rgba(255, 255, 255, .5);
}
