.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 340px;
    height: 36px;
}

.search input{
    border: none;
    outline: 0;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: calc(100% - 90px);
}

.search span{
    opacity: 0.5;
}