.tag {
    display: block;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid #ffffff;
    color: rgba(0, 0, 0, .9);
    padding: 0px 7px;
    margin: 0 4px;
    border-radius: 3px;
    min-width: 64px;
    text-align: center;
    font-size: small;
}