.tile {
    display: flex;
    width: 160px;
    height: 160px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#eef, #fee);
    border: 1px solid #fff;
    border-radius: 10px;
}

.tile img{
    width: 120px;
    object-fit: contain;
}
