.tile {
    display: flex;
    width: 160px;
    height: 160px;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#eef, #fee);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.tile span {
    color: rgba(0, 0, 0, .7);
}

.tile img {
    width: 100px;
    object-fit: contain;
}