@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: Nunito;
}

body {
    background-color: #d90429;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.tiles {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 160px);
    justify-content: center;
    margin: 15px 0;
}
