.settings-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 10px;
    background-color: #ffffff;
}

.settings .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}